@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 14, 39;
  --background-end-rgb: 10, 14, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0A0E27;
}
